<html>
	<head>
		<title></title>
	</head>
	<body>
	<div align="center">
		<img src='/images/piz_dom.png'>

		<form action=/>
			<strong>Pizza Hut or Dominos?</strong> <br>
			<input type="radio" name="Pizza Hut" value="Pizza Hut"> click for Pizza Hut!<br>
			<input type="radio" name="Dominos" value="Dominos" checked> click for Dominos!<br>
			<input type="submit">
			</form>

	</div>
	</body>
</html>
